h2 {
    word-spacing: 4px;
}

.share-today-button {
    background-color: var(--med-dark);
}

.share-today-button:hover {
    background-color: var(--dark);

}

.share-today-button:active {
    background-color: var(--light);

}

.listener-instead {
    font-size: 1.1rem;
    color: var(--dark);
}

.listener-instead:hover {
    font-size: 1.1rem;
    color: var(--med-dark);
}

.sharer-signup-image {
    height: 360px;
    margin-top: -18px;
}

.sharer-container {
    margin-right: 90px;
}

.input-color {
    border-color: var(--med-dark);
}

.become-listener {
    color: var(--med-dark)
}

.space-between {
    margin-top: 15px !important;
}