h2 {
    margin-bottom: 25px;
    font-size: 2.9rem;
}

h2.main-page-title {
    margin-bottom: 40px;
    margin-top: 20px;
    text-align: center;
}

h2.byline-quote {
    font-size: 2.0rem;
    text-align: center;
    font-style: italic;
}

p {
    /* font-weight: bolder; */
    margin-bottom: 20px;
}

h3 {
    color: var(--light);
    padding-top: 10px;
    font-size: 1.7rem;
    margin-bottom: 15px;
}

.public-conversations-section {
    background-color: var(--med-dark);
    padding: 5px 20px 20px 20px;
    border-radius: 1%;
    margin-top: 25px;
    margin-bottom: 20px; 
}

.public-conversations-header-section {
    display: flex;
    padding: 10px 25px 25px 25px;    
}

.public-conversations-header-section .row {
    display: flex;
    align-items: center; 
  }

  img .pavilion-image {
    width: 90%;
    height: 90%; 
}

#welcome-to-pavilion-title {
    font-size: 2.7rem;
    margin-top: 20px;
    margin-bottom: 0px !important;
    text-align: center;
    font-family: var(--font-headings);
}

#welcome-to-pavilion-blurb {
  color: var(--light);
  text-align: left;

}

.title-and-blurb-column-middle {
    text-align: center;
}

.button-column-right {
    text-align: center;
}

#start-public-conversation-btn {
    align-self: center;
    width: 90%;
    padding: 10px;
    color: var(--med-dark);
    background-color: var(--light);
}

#start-public-conversation-btn:hover {
    color: var(--light);
    background-color: var(--dark);
    border-color: var(--dark);
}

#start-public-conversation-btn:active {
    color: var(--light);
}

.reenie-beanie-regular {
    font-family: "Reenie Beanie", cursive;
    font-weight: 400;
    font-style: normal;
  }
  

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 55px;
  }
  
.jost-uniquifier {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.goto-pavilion{
    background-color: var(--med-dark);
    color: var(--light);
    width: 270px;
    font-size: larger;
    font-family: var(--font-standard);
}

.goto-pavilion:hover{
    background-color: var(--dark);
    color: var(--light);
    font-family: var(--font-standard);
}

.homepage-img{
    display: block;
    margin-left: auto;
}

#install-button {
    background-color: var(--med-dark) !important;
    color: var(--light);
    margin: 20px;
    width: 270px;
    font-size: larger;
    font-family: var(--font-standard);
    visibility: hidden;
}

.goto-pavilion:hover {
    background-color: var(--med-light);
    color: var(--med-dark);
}

#install-button:hover {
    background-color: var(--med-light);
    color: var(--med-dark);   
}

.goto-pavilion:active {
    background-color: var(--med-dark);
    color: var(--light);
}

#install-button:active {
    background-color: var(--med-dark);
    color: var(--light);
}