.submit-button {
    background-color: var(--med-dark);

}

.submit-button:hover {
    background-color: var(--dark);
}

.submit-button:active {
    background-color: var(--light);
}

.link-to-signup {
    color: var(--dark);
}

.link-to-signup:hover {
    color: var(--med-dark);
}

.link-to-signup:active {
    color: var(--dark);
}

.not-a-member {
    font-size: 1.1rem;
    color: var(--med-dark);
}

.input-color {
    border-color: var(--med-dark);
}

.sharer-image {
    height: 50px;
    margin-top: -20px;
}

.get-started {
    margin-right: 5px;
}