.overall-card {
    position: relative;
    align-items: center;
}

.role-title {
    color: black;
    margin-bottom: 20px;
}

.sharer-card-body {
    color: var(--dark);
    margin-bottom: 20px;
}

.listener-card-body {
    color: var(--dark);
    margin-bottom: 30px;
}

#sharer-submit-button,
#listener-submit-button {
    position: absolute;
    bottom: 10px; 
    background-color: var(--med-dark);
    border: 1px solid var(--light) !important;
    font-family: var(--font-alegreya-sans);
    font-size: 1.1rem;
       
}

#sharer-submit-button {
    left: 16%;
    color: var(--light);
    background-color: var(--med-dark);
    border: var(--med-dark) 1px, solid;
}

#listener-submit-button {
    left: 65%;
    color: var(--light);
    background-color: var(--med-dark);
    border: var(--med-dark) 1px, solid;
}

#listener-submit-button:hover {
    background-color: var(--dark);
    color: var(--light);
}

#sharer-submit-button:hover {
    background-color: var(--dark);
    color: var(--light);
}

#listener-submit-button:active {
    background-color: var(--med-dark);
    color: var(--light);
}

#sharer-submit-button:active {
    background-color: var(--med-dark);
    color: var(--light);
}

.sharer-image {
    height: 70px;
    margin: auto;
}

.listener-image {
    height: 50px;
    margin: auto;
    margin-top: 20px;
}

.description-text {
    font-size: 1rem !important;
}