/* Style for the footer container */
footer {
    background-color: var(--med-light); 
    height: 90px;
    width: 100vw;
    /* max-width: 1280px; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
  }
  
  /* Style for the p text within the footer */
  footer p {
      color: var(--dark);
      margin: auto;
      text-align: center;
      font-family: var(--font-standard);
      margin-top: -10px;
  }
  
  /* Style for the links within the footer */
  footer a {
    color: var(--med-dark); 
    font-size: 1rem; 
    margin: 0 15px;
    line-height: 1.2; 
    text-decoration: none; 
  }